<h2>Edit User</h2>

<%= form_for(@user, :as => "user", :url => user_path, :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
  
  <% if @user.errors.any? %>
  <% #replaces devise_error_messages!  ; not the prettiest solution, but functional %>
    <div class="alert alert-block">
      <h4>There are <%= pluralize(@user.errors.count, "error") %>.</h4>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <%= control_group_tag(@user.errors[:name]) do %>
    <%= f.label :name, class: 'control-label'  %>
    <div class="controls">
      <%= f.text_field :name, :autofocus => true %>
    </div>
  <% end %>
  <%= control_group_tag(@user.errors[:email]) do %>
    <%= f.label :email, class: 'control-label'  %>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  <% end %>
  

  <% #if devise_mapping.confirmable? && @user.pending_reconfirmation?    devise part, not sure what it does %>

  <% if !(@user.provider?) %>
    <%= control_group_tag(@user.errors[:email]) do %>
      <%= f.label :password, class: 'control-label' %>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    <% end %>
  <% else %>
    <div class="control-group">
      <div class="controls">
        <p>User logged in via <%= @user.provider.capitalize %>.</p>
      </div>
    </div>
  <% end %>
  <% #NOTE: admins will see *their own* avatar already populating this field, but it works as intended %>
  <div class="control-group">
    <%= image_tag(current_user.avatar.small.url) if current_user.avatar? %>
    <%= f.label :avatar, class: 'control-label' %>
    <div class="controls"> 
      <%= f.file_field :avatar %>
    </div>
  </div>
  
  <div class="control-group controls">
    <%= f.label :public, class: 'checkbox' do %>
      <%= f.check_box :public %> Public userpage viewable by everyone?
    <% end %>
  </div>
  <div class="control-group controls">
    <%= f.label :make_public_on_delete, class: 'checkbox' do %>
      <%= f.check_box :make_public_on_delete %> Move songs to Anonymous Pool if this account is deleted?
    <% end %>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit "Update", class: 'btn' %>
    </div>
  </div>  
<% end %>