<div class="hero-unit">
  <h1>stream.it</h1>
  <p>stream.it - the cloud based music player</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
</div>

<li>Jump right in by <%= link_to "uploading a new song", new_song_path %>. It will show up in the 
<%= link_to "Anonymous Pool", anonymous_path %>, unless you <%= link_to "sign up", new_user_registration_path %> 
first. Then it will be on <%= link_to "your userpage", current_user %>.</li>
<li>You can browse <%= link_to "all songs", songs_path %> and <%= link_to "all users", users_path %> to
see what others have done.</li>