<div class="span6 song">
  <small>
  <%= content_tag :div, class: 'media', id: "song-#{song.id}" do %>
    <%= link_to '#', class: 'pull-left' do %>
      <%= link_to ("\##{song.id} #{song.name}"), song %>
      <br style="clear: both; height: 0px;" />
      <%= image_tag(song.user.avatar.tiny.url) if song.user.avatar? %>
      Uploaded <%= time_ago_in_words(song.created_at) %> ago
      <% if (song.user && (can? :read, song.user)) %>
        by <%= link_to song.user.name, song.user %>
      <% end %>
    <% end %>
  </small>  
    <p><%= song.audio_html %></p>
    <p><%= markdown song.info %></p> 
    Tags: <%= raw song.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    <br style="clear: both; height: 0px;" />
    <% if can? :edit, song %>
      <%= link_to "Edit Song", edit_song_path(song), class: 'btn btn-mini btn-primary' %> 
    <% end %>
    <% if can? :destroy, song %>
      <%= link_to "Delete Song", [song], method: :delete, class: 'btn btn-mini btn-primary btn-danger',
      confirm: 'Are you sure you want to delete this song?' %> 
    <% end %>
  <% end %>
</div>