<div class="row">
  <div class="span8">
    <small>
    <%= content_tag :div, class: 'media', id: "song-#{song.id}" do %>
      <%= link_to '#', class: 'pull-left' do %>
        <%= link_to ("\##{song.id}"), song_path %>
        <%= song.name %>
        <br style="clear: both; height: 0px;" />
        Uploaded <%= time_ago_in_words(song.created_at) %> ago by <%= song.user.name %>
      <% end %>
    </small>  
      <p><%= song.audio_html %></p>
      <p><%= markdown song.info %></p>
    </div>
  </div>
<% end %>