<div class="row">
  <div class="span8">
    <small>
    <%= content_tag :div, class: 'media', id: "tag-#{tag.id}" do %>
      <%= link_to '#', class: 'pull-left' do %>
        <%= link_to ("\##{tag.id}"), tag_path %>
        <%= tag.name %>
        <br style="clear: both; height: 0px;" />
        Created <%= time_ago_in_words(tag.created_at) %> ago by <%= tag.user.name %>
      <% end %>
    </small>  
      <p><%= markdown tag.value %></p>
      <p><%= tag.songs.count %> songs</p>
    </div>
  </div>
<% end %>