<%= markdown "\##{@tag.id}" %>

<div class="row">
  <div class="span8">
    <small>
      <%= @tag.name %>
      <br style="clear: both; height: 0px;" />
      Created <%= time_ago_in_words(@tag.created_at) %> ago by <%= @tag.user.name %>
    </small>  
    <p><%= markdown @tag.value %></p>
  </div>
  <div class="span4">
    <% if can? :edit, @tag %>
      <%= link_to "Edit Tag", edit_tag_path, class: 'btn btn-large btn-block' %> 
    <% end %>
    <% if can? :destroy, @tag %>
      <%= link_to "Delete Tag", [@tag], method: :delete, class: 'btn btn-large btn-block btn-danger',
      confirm: 'Are you sure you want to delete this tag?' %> 
    <% end %>
    </div>
  <div class="row span8"><h4><%= @tag.songs.count %> songs</h4></div>
    <div class="js-comments">
      <%= render partial: 'songs/song', collection: @songs %>
    </div>
  </div>
</div>